
@font-face {
    font-family: 'cocomat';
    src: url(../font/Cocomat-Ultralight-trial.ttf);
}

/** Variables **/
    $fuenteHeading: sans-serif;
    $fuenteParrafos: 'cocomat', sans-serif;

    $primario: #7A5145;
    $secundario: #566440;
    $claro: #D6CBB8;
    $oscuro: #343534;
    $blanco: #ffffff;
    $negro: #000000;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

body {
    font-family: $fuenteParrafos;
    font-size: 1.6rem;
    line-height: 2;
    background-color: $blanco;
}

main {
    margin-top: 10rem;
}

/* Globales */

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 3rem;
    color: $negro;
}

h1,h2,h3,h4 {
    font-family: $fuenteHeading;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

p {
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

span {
    font-family: Arial, Helvetica, sans-serif;
}

/* Utilidades */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: $blanco;
    padding: .5rem;
    border-radius: 1rem;
    margin: 2rem auto;
}