@import "./base";

@import "./componenets/header";
@import "./componenets/footer";
@import "./componenets/portada";
@import "./componenets/form";


@import "./pages/carrito";
@import "./pages/catalogo";
@import "./pages/contacto";
@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/producto";