/** Producto **/

.producto {
    background-color: $claro;
    padding: 1rem;
    border-radius: 10px;
    margin:  1rem 1rem 1rem 1rem 
}

.producto__nombre {
    font-size: 4rem;
}

.producto__precio {
    font-size: 2.8rem;
    color: $primario;
}

.producto__nombre,
.producto__precio {
    font-family: $fuenteHeading;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

/** Graficos **/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    margin:  1rem 1rem 1rem 1rem 
}

.grafico--caja {
    background-image: url(../img/DSC_0061\(1\).jpg);
    grid-row: 2/3;
    border-radius: 10px;
}

.grafico--portada {
    background-image: url(../img/portada.jpg);
    grid-row: 8/9;
    border-radius: 10px;
}
@media (min-width: 768px) {
    .grafico--portada {
        grid-row: 5/6;
        grid-column: 2/4;
        border-radius: 10px;
    }
}
