/** Pagina del Producto **/

.caja img{
    border-radius: 10px;
}
@media (min-width: 768px) {
    .caja {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo {
    border: 1px solid $negro;
    background-color: transparent;
    color: $negro;
    font-size: 2rem;
    font-family: $fuenteParrafos;
    padding: 2rem;
    border-radius: 10px;
}

.formulario__submit {
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: font-size .3s, background-color .3s ease;
    grid-column: 1/3;
    border-radius: 10px;
}

.formulario__submit:hover {
    cursor: pointer; 
    font-size: 3rem;
}