

.footer {
    background-color: $oscuro;
    height: auto;
    max-width: 100%;
    margin-top: 2rem;
    
    &__barra {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__enlace {
        color: $blanco;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    @media (min-width: 468px) {
        &__enlace {
            flex-direction: row;
        }
    }
}

