/** Footer **/

.footer {
    background-color: $oscuro;
    height: 5rem;
    margin-top: 2rem;
    
    &__barra {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__enlace {
        color: $blanco;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
}