/** Formulario **/

.formulario {
    margin-bottom: 2rem;

    &__img {
        height: 600px;
        width: 500px;
        border-radius: 5px;
    }
}



form {
    width: 500px;
    margin: 0  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

label {
    font-size: 3rem;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (min-width: 992px) {
    .formulario {
        display: flex;
    }
}
