
.contacto__form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contacto__img {
    height: 400px;
    width: 300px;
    border-radius: 4rem;
}

@media (min-width: 468px) {
    .contacto__form {
        flex-direction: row;
    }
    .contacto__img {
        height: 600px;
        width: 400px;
    }
}







form {
    width: 450px;
    margin: 0  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

label {
    font-size: 3rem;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


