/* Header */

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 992px) {
    .barra {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion__enlace {
    font-size: 1.8rem;
    color: $negro;
    padding: 1rem;
}

.logo {
    width: 400px;
}
